<%= form_with model: product do |form| %>
    <div>
        <div>
            <%= form.label :name %>
            <%= form.text_field :name %>
            <%= product.errors.full_messages_for(:name).each do |message| %>
                <div><%= message %></div>
            <% end %>
        </div>
        <div>
            <%= form.label :quantity %>
            <%= form.number_field :quantity %>
            <%= product.errors.full_messages_for(:quantity).each do |message| %>
                <div><%= message %></div>
            <% end %>
        </div>
        <div>
            <%= form.label :price %>
            <%= form.number_field :price %>
            <%= product.errors.full_messages_for(:price).each do |message| %>
                <div><%= message %></div>
            <% end %>
        </div>
        <div>
            <%= form.submit %>
        </div>
    </div>
<% end %>