<header>
	<ul class="header">
        <li><%= link_to "Club Stock", root_path %></li>
       	<li><%= link_to "About", about_path %></li>
       	<li><%= link_to "Contact", contact_path %></li>
        <% if logged_in? %>
	        <li><%= link_to "Yo", current_user %></p></li>
	        <li><%= link_to "Salir", logout_path, method: :delete %></p></li>
        <% else %>
            <li><%= link_to "Comenzar", signup_path %></li>
        <% end %>
    </ul>
</header>